<img class="learn-img" src="http://mickscarpet.com/wp-content/uploads/2014/09/light-orange-slider-background.jpg">

<div class="container about-page">
  <h1>About Bulletin</h1>
  <p>Bulletin is resource that allows anyone to browse, share, and discuss topics and posts.
  <p>Bulletin was a project aimed to teach and learn the fundamentals of web developement for beginners.</p>
  <p>Created by: Matt</p>
</div>
