<div class="home-img">
  <img src="http://previews.123rf.com/images/stephaniefrey/stephaniefrey0905/stephaniefrey090500099/4944849-Macro-of-blank-cork-message-board--Stock-Photo-bulletin.jpg">
</div>
<div class="jumbotron">
   <h1 class="welcome-heading">Welcome to Bulletin</h1>
   <p>Bulletin is a resource for disuccsing topics and sharing links with your friends!</p>
   <p>
     <%= link_to "Sign In", new_session_path %> or
     <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
   </p>
 </div>

 <div class="row">
   <div class="home-data col-md-4">
     <h2>Solves world hunger</h2>
     <p>Bloccit will deliver food and water to those in need, all over the world.</p>
   </div>
   <div class="home-data col-md-4">
     <h2>Eliminates poverty</h2>
     <p>Bloccit will deliver money and education to those in need, all over the world.</p>
   </div>
   <div class="home-data col-md-4">
     <h2>Makes you better looking</h2>
     <p>Bloccit will make you better looking: it's scientifically proven to make men look like Ryan Gosling and women look like Shakira.</p>
   </div>
 </div>
