<div class="home-img">
  <img src="http://previews.123rf.com/images/stephaniefrey/stephaniefrey0905/stephaniefrey090500099/4944849-Macro-of-blank-cork-message-board--Stock-Photo-bulletin.jpg">
</div>
<div class="head-one">
   <h1 class="welcome-heading">Bulletin</h1>
   <p>Bulletin is a resource for discussing topics and sharing links with friends or others.</p>
   <p>
     <% if current_user %>
        <%= link_to "Learn More", about_path, class: 'btn btn-primary' %>
     <% else %>
       <%= link_to "Sign In", new_session_path %> or
       <%= link_to "Sign Up", new_user_path, class: 'btn btn-primary' %> today!
     <% end %>
   </p>
 </div>
 <section class="content row">
   <div class="home-data col-md-4">
     <h2>Discuss</h2>
     <p>Discuss latest topics, news, or projects with friends and others.  <%= link_to "Find a topic", topics_path %></p>
   </div>
   <div class="home-data col-md-4">
     <h2>Share Links</h2>
     <p>Share your favorite links and see what others have to say about it. </p>
   </div>
   <div class="home-data col-md-4">
     <h2>Easy to Use</h2>
     <p>Once you make an account your ready to share, like, and discuss with everyone all over the world.</p>
   </div>
 </section>
