<div class="home-img">
  <img src="http://www.asthait.com/wp-content/uploads/2014/02/main-bg-new1.jpg">
  <h1>Discuss anything and everything</h1>
  <h5>Bulletin is a resource for disuccsing topics and sharing links with the community or your friends</h5>
  <p><%= link_to "Learn More", "#", class: "btn btn-primary"%></p>
</div>
