<img class="learn-img" src="http://www.startgrowprofit.com/wp-content/uploads/2014/09/sgp-twitter-background-072214.png">
<section class="learn-content">
  <h1>How to use Bulletin</h1>
  <div>
    <h2>1: Step One</h2>
    <p>
      Sign up for an account. Take a look at the top right corner and select <strong>Log In</strong> if you already have an account, or <strong>Sign Up</strong> if you don't have one yet.
      Creating an account is quick and simple. Just add a valid email address, your unique username, and a password and your all good to go.
    </p>
  </div>
  <div>
    <h2>2: Step Two</h2>
    <p>
      Bulletin offers a wide range of topics and posts for you to browse and take part of the discussion. Navigate to the <strong>Topics</strong> tab at the top of the page. This will take
      you to Bulletin's list of available Topics. Select any topic you like.</br></br> Once you have chosen a topic, you can selct any post under that topic to take part in. See what the community has
      to say or comment your own views. Like or hate a post? Just hit the <strong>Up Vote</strong> or <strong>Down Vote</strong> buttons to like or dislike a post.
    </p>
  </div>
  <div>
    <h2>3: Step Three</h2>
    <p>
      Start your own discussion! Have a project to discuss with friends? Have a news story you want to share? Have a funny link you want people to see? Share it! Under the <strong>Topics</strong> page
      you'll see the <strong>New Topic</strong> icon. Just click on it and your ready to share.</br></br> Want to start a new post on an existing topic? Just click on the <strong>New Post</strong> icon to get started.
      Topics and posts must follow Bulletin guidelines. Topics and posts violating guidelines will be removed.
    </p>
  </div>
</section>
