// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$border-color: 1px solid rgba(1,1,1,.2);

.posts-top {
  background-color: white;
  padding: 10px;
  border-bottom: $border-color;
  h1 {
    color: rgba(1,1,1,.6);
    font-weight: 200;
  }
  p {
    color: rgba(1,1,1,.6);
  }
}

.comments-section {
  background-color: white;
  padding: 10px;
  border-bottom: $border-color;
  h3 {
    font-size: 2em;
    color: rgba(1,1,1,.6);
    font-weight: 200;
  }
}

.posts-favorite {
  padding: 10px;
  background-color: white;
  margin-top: 15px;
  margin-bottom: 50px;
}

.user-edit {
  position: absolute;
  margin-top: -80px;
  margin-left: 970px;
}

.posts-form {
  margin-top: 10px;
  label {
    font-size: 1.8em;
    font-weight: 500;
  }
}

.submit-comment {
  margin-top: -46px;
}
