// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topics-index {
  background-color: white;
  padding: 10px;
}

.topic-desc {
  padding: 10px;
  background-color: #ffe349;
  padding-top: 0;
  font-size: 16px;
  box-shadow: 0 0 5px;
  margin-top: 10px;

    h1{
      font-size: 26px;
      color: rgba(1,1,1,.6);
      font-weight: 200;
    }

    p {
      color: rgba(1,1,1,.6);
      font-weight: 200;
    }
}

.posts-all {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0 0 5px;
  margin-bottom: 40px;

    h2 {
      font-size: 36px;
      font-weight: 200;
    }
}

.btn-submit-post {
  margin-top: 19px;

    a {
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      border: 2px solid white;
      border-radius: 25px;
      font-size: 20px;
        &:hover {
          background-color: rgba(5, 150, 255, .9);
          border: 2px solid white;
          color: white;
        }
      }
}
