// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gravatar {
  margin-bottom: 5px;
  margin-right: 5px;
}

.user-heading {
  display: -webkit-box;
  padding-bottom: 15px;
}

.user-info {
  padding-left: 10px;
}

.user-content {
  background-color: white;
  padding: 10px;
  box-shadow: 0 0 5px;
  margin-bottom: 15px;

    h2 {
      margin-top: 0px;
      color: rgba(1,1,1,.6);
      font-weight: 200;
    }
}
