// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.home-data {
    h2 {
      font-weight: 200;
      font-size: 36px;
      position: absolute;
      z-index: 100;
      margin-top: 75px;
      margin-left: 45px;
    }

    p {
      font-size: 19px;
      position: absolute;
      z-index: 100;
      margin-top: 115px;
      width: 200px;
      margin-left: 25px;
    }
}

.text {
  text-align: center;
}

.home-img {

  img {
   position: absolute;
   z-index: -10;
   margin-top: -192px;
   margin-left: -150px;
  }

  h1 {
    padding-top: 150px;
    color: white;
    text-align: center;
    font-size: 55px;
  }

  h5 {
    color: white;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }

  p {
    text-align: center;
      a {
        font-size: 18px;
        width: 180px;
      }
  }
}

.col-info {
  text-align: center;
  margin-top: 300px;

    h3 {
      font-size: 30px;
      font-weight: 300;
      color: rgba(1,1,1,.7);
    }

    p {
      font-size: 18px;
      font-weight: 200;
      color: grey;
    }
}

.learn-img {
  position: absolute;
  z-index: -100;
  top: 0;
}

.learn-content {
  background-color: white;
  width: 55%;
  padding: 20px;
  margin-left: 10%;
  box-shadow: 0 0 5px;

    h1 {
      font-weight: 400;
    }

    h2 {
      font-weight: 300;
      margin-left: 20px;
    }

    p {
      margin-left: 55px;
      text-align: left;
    }
}

.about-page {

    h1 {
      font-size: 50px;
      color: white;
    }

    p {
      font-size: 18px;
      color: white;
    }
}
