<div class="guidelines">
  <ul>
    <li>Make sure the topic is appropriate.</li>
    <li>No topics containing violence or dangerous content.</li>
    <li>Sexual content is prohibited.</li>
    <li>No spam or misleading topics.</li>
  </ul>
</div>
